@model IEnumerable<MisMinistritosUNED.Models.ProductoModel>

@{
    ViewData["Title"] = "Lista Productos";
}

<h1>Lista de productos</h1>

<p>
    <a asp-action="Create">Añadir producto</a>
</p>
@if (Model.Count() > 0) //Valida si hay elementos y entra
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label class="control-label">Id:</label>
                </th>
                <th>
                    <label class="control-label">Descripción:</label>
                </th>
                <th>
                    <label class="control-label">Año de ingreso:</label>
                </th>
                <th>
                    <label class="control-label">Precio de compra:</label>
                </th>
                <th>
                    <label class="control-label">Utilidad:</label>
                </th>
                <th>
                    <label class="control-label">Proveedor:</label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ingreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.utilidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.proveedor)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Update", new { id=item.id}) |
                        @Html.ActionLink("Detalles", "Read", new { id=item.id }) |
                        @Html.ActionLink("Borrar", "Delete", new { id=item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a asp-action="LoginAdmin" asp-controller="Login">Volver a las opciones</a>
    <br />
    <br />
    <a asp-action="Login" asp-controller="Login">Volver al login</a>
}
else
{
        <p>No hay productos</p>
        <br/>
    <a asp-action="LoginAdmin" asp-controller="Login">Volver a las opciones</a>
    <br />
    <br />
    <a asp-action="Login" asp-controller="Login">Volver al login</a>
}
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
