@model IEnumerable<MisMinistritosUNED.Models.ProveedorModel>

@{
    ViewData["Title"] = "Lista Roveedores";
}

@if (TempData["ActionProvedor"] != null)
{
    <p style="color:darkorange" ;>@TempData["ActionProvedor"]</p>
}

<h1>Lista de proveedores</h1>

<p>
    <a asp-action="Create">Añadir Proveedor</a>
</p>


@if (Model.Count() > 0) //Valida si hay elementos y entra
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label class="control-label">Cédula:</label>
                </th>
                <th>
                    <label class="control-label">Descripción:</label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Update", new { cedula=item.cedula}) |
                        @Html.ActionLink("Detalles", "Read", new { cedula=item.cedula }) |
                        @Html.ActionLink("Borrar", "Delete", new { cedula=item.cedula })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a asp-action="LoginAdmin" asp-controller="Login">Volver a las opciones</a>
    <br />
    <br />
    <a asp-action="Login" asp-controller="Login">Volver al login</a>
}
else
{
    <p>No hay proveedores</p>
    <br />
    <a asp-action="LoginAdmin" asp-controller="Login">Volver a las opciones</a>
    <br />
    <br />
    <a asp-action="Login" asp-controller="Login">Volver al login</a>
}
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
