@model IEnumerable<MisMinistritosUNED.Models.FacturaModel>
@{
    ViewData["Title"] = "Lista Facturas";
}

<h1>Lista de Facturas</h1>
</br>
@Html.DisplayFor(model => model.First().clienteNombre)
@Html.DisplayFor(model => model.First().clienteCedula)
</br>
@if (Model.Count() > 0) //Valida si hay elementos y entra
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label class="control-label">Id de Factura:</label>
                </th>
                <th>
                    <label class="control-label">Nombre del Cliente:</label>
                </th>
                <th>
                    <label class="control-label">Total:</label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.facturaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.clienteNombre)
                    </td>
                    <td>
                    <td>
                         @Html.DisplayFor(modelItem => item.montoTotal)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Read", new { facturaId=item.facturaId }) |
                        @Html.ActionLink("Borrar", "Delete", new { facturaId=item.facturaId })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <a asp-action="Create" asp-controller="Factura" asp-route-cedula="@Model.First().clienteCedula" class="btn btn-outline-primary">Facturación</a>

}
else
{
    <p>No hay facturas</p>
    <br />

    <br />
    <br />
    <a asp-action="Create" asp-controller="Factura" asp-route-cedula="@Model.First().clienteCedula" class="btn btn-outline-primary">Facturación</a>

}
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
